<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Charles Babbage</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Lobster+Two&family=Staatliches&display=swap" rel="stylesheet">
    
  </head>
  <body>
    <header>
        <a href="/"><img class="home" src="/img/home.png" alt=""></a>
        
      <h1>Charles Babbage</h1>
    </header>
    <section>
      <article>
        <img src="/img/CharlesBabbage.jpg" alt="retrato de Charles Babbage" />
        <div>
          <h2>Charles Babbage</h2>
          <p>
            (Teignmouth, Devonshire, Gran Bretaña, 26 de diciembre de
            1791-Londres, 18 de octubre de 1871) fue un matemático y científico
            de la computación británico. Diseñó y desarrolló una calculadora
            mecánica capaz de calcular tablas de funciones numéricas por el
            método de diferencias. También diseñó, pero nunca construyó, la
            analítica para ejecutar programas de tabulación o computación; por
            estos inventos se le considera como una de las primeras personas en
            concebir la idea de lo que hoy llamaríamos una computadora, por lo
            que se le considera como "El Padre de la computación". En el Museo
            de Ciencias de Londres se exhiben partes de sus mecanismos
            inconclusos. Parte de su cerebro conservado en formol se exhibe en
            el Royal College of Surgeons of England. Sitio en Londres
          </p>
        </div>
      </article>
      <article>
        <h2>Historia</h2>
        <div>
          <h3>Primeros años</h3>
          <p>
            Hay un debate sobre la fecha y lugar de nacimiento de Babbage. En
            primer lugar, según Dictionary of National Biography seguramente
            nació en el número 44 de Crosby Row, Walworth en Londres,
            Inglaterra. En relación a su fecha de nacimiento, The Times publicó
            que Babbage nació el 26 de diciembre de 1792 pero un sobrino suyo
            afirmó que fue un año antes, 1791. El registro de la parroquia St.
            Mary's en Newington establece que Babbage fue bautizado el 6 de
            enero de 1792, lo cual puede confirmar que hubiese nacido un año
            antes.
          </p>
          <p>
            Babbage fue el cuarto hijo de Betsy Plumleigh Teape y Benjamin
            Babbage (Socio banquero del empresario William Praed en fundar
            Praed9s & Co.)
          </p>
          <p>
            Cuando Babbage tenía 8 años fue enviado a una escuela de día en
            Alpington para recuperarse de una peligrosa fiebre. Durante un
            tiempo pudo atender a la escuela de Enrique VI en Totnes, pero su
            salud le obligó a seguir recibiendo clase de los tutores privados
            durante un tiempo.
          </p>

          <p>
            Fue después de esto cuando Babbage comenzó a acudir a una Academia
            en Enfield (Londres), donde las clases se impartían por el reverendo
            Stephen Freeman. La biblioteca de esta academia incentivó la pasión
            de Babbage por las matemáticas. Antes de dejar esta academia estudió
            en dos escuelas privadas, la primera se impartía por un clérigo
            cerca de Cambridge, a través de la cual conoció al evangélico inglés
            Charles Simeon, pero no eran tutorías lo que Charles necesitaba. La
            segunda escuela era un tutor de Oxford, gracias al cual Babbage
            adquirió el nivel suficiente para ser admitido en Cambridge. Fue
            entonces cuando le trajeron de vuelta a casa para estudiar en una
            escuela a la edad de 16 o 17.
          </p>
          <h3>Primeros años en Cambridge</h3>
          <p>
            En octubre de 1810 Babbage llegó a Trinity College (Cambridge),
            habiéndose formado de forma autodidacta en matemáticas
            contemporáneas (A partir de las lecturas de Robert Woodhouse,
            Joseph-Louis Lagrange y Maria Gaetana Agnesi). Consecuentemente se
            llevó una gran decepción con la forma de impartir las matemáticas de
            la universidad.
          </p>
          <p>
            En 1812, junto con John Herschel, George Peacock y otros amigos,
            formaron la Analytical Society Paralelamente Babbage era miembro de
            otras asociaciones como The Ghost Club, asociación de investigación
            de fenómenos paranormales y The Extractors Club , centrado en la
            liberación de los miembros del manicomio, en caso de que alguna vez
            sucediese.
          </p>
          <p>
            En ese mismo año Babbage fue enviado a Peterhouse, Cambridge, donde
            se encontraba en la élite de las matemáticas pero no se graduó con
            notas elevadas sino que recibió en cambio el título sin tener que
            examinarse en 1814. Defendió una tesis que se consideró "blasfemia"
            en la disputa pública, no obstante no se sabe si esto estuvo
            relacionado con el hecho de no llevar a cabo un examen.
          </p>
          <h3>Después de Cambridge</h3>
          <p>
            Dada su reputación Babbage consiguió progresar rápidamente. Impartió
            clases de astronomía en el Royal Institution en 1815 y fue elegido
            Miembro de la Royal Society en 1816. Sin embargo, al presentarse a
            las oposiciones tras su graduación no fue aceptado. En 1816 fue
            candidato para ser profesor en Haileybury College, con cartas de
            recomendación de James Ivory y John Playfair, pero fue Henry Walter
            Bates el que se llevó el puesto.​ Junto con Herschel visitaron Paris
            y la Sociedad de Arcueil en 1819, conociendo en este viaje a los
            principales matemáticos y físicos franceses.​ Ese mismo año aplicó a
            la Universidad de Edimburgo recomendado por Pierre-Simon Laplace,
            perdiendo de nuevo el puesto por William Wallace, matemático y
            astrónomo escocés.
          </p>
          <p>
            Babbage compró las tablas actuariales de George Barrett, actuario
            británico, el cual murió en 1821 dejando trabajos sin publicar y
            estudió el campo en 1836 en "La Visión Comparativa de varias
            instituciones de seguros de vida" (Comparative View of the Various
            Institutions for the Assurance of Lives). El interés por este
            proyecto fue continuado por la idea de crear una compañía de
            seguros, promovida por Francis Baily debatida en 1824 pero nunca
            llevada a cabo. No obstante, Babbage sí llegó a calcular las tablas
            actuariales para esa idea utilizando la mortalidad de la sociedad a
            partir del año 1792.
          </p>
          <p>
            Él y Edward Ryan se casaron con las hermanas Whitmore, Babbage en el
            año 1814. Se construyó una casa en Marylebone, Londres y formó una
            gran familia. Durante todos estos años fue su padre quien mantenía
            sus proyectos siempre con cierta reticencia dada su precocidad a la
            hora de contraer matrimonio.
          </p>
          <p>
            En 1827 su padre murió, lo cual le permitió heredar alrededor de
            £100.000 de aquel entonces, convirtiéndole en una persona
            independiente y rica. Ese mismo año su mujer falleció y Babbage
            decidió emprender un viaje de un año de duración. En ese viaje
            conoció a Leopoldo II de Toscana en Italia, programando un futuro
            encuentro en Piedmont. En ese viaje recibió la noticia de que había
            sido aceptado para la vacante de profesor en Cambridge, puesto que
            le había sido negado en tres ocasiones distintas.
          </p>
        </div>
        <h2>Diseño de computadoras</h2>
        <div>
          Babbage intentó encontrar un método por el cual se pudieran hacer
          cálculos automáticamente por una máquina, eliminando errores debidos a
          la fatiga o aburrimiento que sufrían las personas encargadas de
          compilar las tablas matemáticas de la época. Esta idea la tuvo en
          1812. Tres diversos factores parecían haberlo motivado: una aversión
          al desorden, su conocimiento de tablas logarítmicas, y los trabajos de
          máquinas calculadoras realizadas por Blaise Pascal y Gottfried
          Leibniz. En 1822, en una carta dirigida a sir Humphry Davy en la
          aplicación de maquinaria al cálculo e impresión de tablas matemáticas,
          discutió los principios de una máquina calculadora. Además diseñó un
          plano de computadoras.
        </div>
        <h2>Máquina analítica</h2>
        <div>
          <p>
            Entre 1833 y 1842, Babbage lo intentó de nuevo; esta vez, intentó
            construir una máquina que fuese programable para hacer cualquier
            tipo de cálculo, no solo los referentes al cálculo de tablas
            logarítmicas o funciones polinómicas. Esta fue la máquina analítica.
            El diseño se basaba en el telar de Joseph Marie Jacquard, el cual
            usaba tarjetas perforadas para realizar diseños en el tejido.
            Babbage adaptó su diseño para conseguir calcular funciones
            analíticas. La máquina analítica tenía dispositivos de entrada
            basados en las tarjetas perforadas de Jacquard, un procesador
            aritmético, que calculaba números, una unidad de control que
            determinaba qué tarea debía ser realizada, un mecanismo de salida y
            una memoria donde los números podían ser almacenados hasta ser
            procesados. Se considera que la máquina analítica de Babbage fue la
            primera computadora de la historia. Un diseño inicial plenamente
            funcional de ella fue terminado en 1835. Sin embargo, debido a
            problemas similares a los de la máquina diferencial, la máquina
            analítica nunca fue terminada por Charles. En 1842, para obtener la
            financiación necesaria para realizar su proyecto, Babbage contactó
            con sir Robert Peel. Peel lo rechazó, y ofreció a Babbage un título
            de caballero que fue rechazado por Babbage. Lady Ada Lovelace,
            matemática e hija de Lord Byron, se enteró de los esfuerzos de
            Babbage y se interesó en su máquina. Promovió activamente la máquina
            analítica, y escribió varios programas para la máquina analítica.
            Algunos historiadores afirman que esas instrucciones hacen de Ada
            Lovelace la primera programadora de computadoras de la historia.
          </p>
        </div>
        <h2>Planos de la impresora moderna</h2>
        <div>
          <p>
            Charles Babbage ha sido considerado por algunos como el padre de las
            computadoras modernas, pero sin duda también puede ser considerado
            el padre de las impresoras modernas. Más de 150 años después de sus
            planos y un trabajo minucioso del Museo de Ciencias de Londres,
            dieron como resultado la construcción de la Máquina Analítica. Los
            planos del matemático y científico incluían un componente de
            impresión, el cual ha sido reconstruido por el Museo y es funcional.
            Esta impresora consta de 8000 piezas mecánicas y pesa
            aproximadamente 2,5 toneladas.
          </p>
          <p>
            Fue tan innovadora para su época y podemos apreciarlo hoy, que es
            capaz de imprimir automáticamente los resultados de un cálculo y un
            usuario puede cambiar parámetros como espacio entre líneas, elegir
            entre dos tipografías, número de columnas y otros. Su sofisticación
            llega a tal punto que puede generar (fabricar) los moldes de las
            impresiones que podrían ser usados por las imprentas aún hoy en día.
            Esta impresora lamentablemente no lleva un nombre ya que Babbage la
            incluyó en sus planos de la Máquina Analítica, pero basta con aludir
            a ella como la impresora de Babbage para reconocer en este hombre un
            visionario.
          </p>
        </div>
        <h2>Promoción del cálculo</h2>
        <div>
          <p>
            Babbage es recordado también por otras realizaciones. La promoción
            del cálculo infinitesimal es quizás la primera entre ellas. En 1812,
            Babbage funda la Sociedad Analítica. La tarea primordial de esta
            sociedad, conducida por el estudiante Robert Woodhouse, era promover
            el cálculo leibniziano, o cálculo analítico, sobre el estilo de
            cálculo newtoniano. El cálculo de Newton era torpe y aproximado, y
            era usado más por razones políticas que prácticas. La Sociedad
            Analítica incluía a sir John Herschel y George Peacock entre sus
            miembros. En los años 1815-1817 contribuyó en el «cálculo de
            funciones» de las Philosophical Transactions -transacciones
            filosóficas-, y en 1816 fue hecho miembro de la Royal Society.
          </p>
        </div>
        <h2>Criptografía</h2>
        <div>
          <p>
            Charles Babbage también logró resultados notables en criptografía.
            Rompió la cifra auto llave de Vigenère, así como la cifra mucho más
            débil que se llama cifrado de Vigenère hoy en día. La cifra del auto
            llave fue llamada «la cifra indescifrable», aunque debido a la
            confusión popular muchos pensaron que la cifra apolialfabética más
            débil era indescifrable. El descubrimiento de Babbage fue usado en
            campañas militares inglesas, y era considerado un secreto militar.
            Como resultado, el mérito por haber descifrado esta clave le fue
            otorgado a Friedrich Kasiski, quien descifró también este sistema
            criptográfico algunos años después.
          </p>
        </div>
        <h2>Otras realizaciones</h2>
        <div>
          <p>
            De 1828 a 1839 Babbage fue profesor de matemáticas en Cambridge.
            Escribió artículos en distintas revistas científicas, y era miembro
            activo de la Astronomical Society —sociedad astronómica— en 1820 y
            de la Statistical Society —sociedad estadística— en 1834. Durante
            los últimos años de su vida residió en Londres, dedicándose a la
            construcción de máquinas capaces de la ejecución de operaciones
            aritméticas y cálculos algebraicos.
          </p>
          <p>
            Propuso el sistema de franqueo postal que utilizamos hoy en día.
            Hasta entonces el coste de enviar una carta dependía de la distancia
            que tenía que viajar; Babbage advirtió que el coste del trabajo
            requerido para calcular el precio de cada carta superaba el coste
            del franqueo de esta y propuso un único coste para cada carta con
            independencia del sitio del país al que era enviada.
          </p>
          <p>
            Fue el primero en señalar que la anchura del anillo de un árbol
            dependía de la meteorología que había hecho ese año, por lo que
            sería posible deducir climas pasados estudiando árboles antiguos.
          </p>
          <p>
            Inventó el apartavacas, un aparato que se sujetaba a la parte
            delantera de las locomotoras de vapor para que las vacas se
            apartasen de las vías del ferrocarril.
          </p>
          <p>
            Se interesó también por temas políticos y sociales e inició una
            campaña para deshacerse de los organilleros y músicos callejeros de
            Londres, aunque estos pasaron al contraataque y se organizaban en
            torno a su casa tocando lo más alto que podían.
          </p>
        </div>
      </article>
    </section>
    <section>
      <a href="#"
        ><img
          src="/img/boton-flecha-removebg-preview.png"
          class="button"
          alt=""
      /></a>
    </section>
    <footer>
      <p>&#169;Copyright 2021</p>
    </footer>
  </body>
</html>
