<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tim Berners-Lee</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Lobster+Two&family=Staatliches&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="/"><img class="home" src="/img/home.png" alt="" /></a>

      <h1>Tim Berners-Lee</h1>
    </header>
    <section>
      <article>
        <img
            class="a"
          src="/img/Sir_Tim_Berners-Lee.jpg"
          alt="Fotografía de Tim Berners-Lee"
        />
        <div >
          <h2>Timothy "Tim" John Berners-Lee</h2>
          <p>
            (Londres, Reino Unido, 8 de junio de 1955), conocido como Tim
            Berners-Lee, es un científico de la computación británico, conocido
            por ser el padre de la World Wide Web. Estableció la primera
            comunicación entre un cliente y un servidor usando el protocolo HTTP
            en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la
            World Wide Web (W3C) con sede en el MIT, para supervisar y
            estandarizar el desarrollo de las tecnologías sobre las que se
            fundamenta la Web y que permiten el funcionamiento de Internet.
          </p>
          <p>
            Ante la necesidad de distribuir e intercambiar información acerca de
            sus investigaciones de una manera más efectiva, Berners-Lee
            desarrolló las ideas fundamentales que estructuran la web. Él y su
            grupo crearon lo que por sus siglas en inglés se denomina Lenguaje
            HTML (HyperText Markup Language) o lenguaje de etiquetas de
            hipertexto, el protocolo HTTP (HyperText Transfer Protocol) y el
            sistema de localización de objetos en la web URL (Uniform Resource
            Locator).
          </p>
          <p>
            Es posible encontrar muchas de las ideas plasmadas por Berners-Lee
            en el proyecto Xanadú (que propuso Ted Nelson) y el memex (de
            Vannevar Bush).
          </p>
        </div>
      </article>
      <article>
        <img class="b" src="/img/Tim_Berners-Lee.jpg" alt="" />
        <div>
          <h2>Biografía</h2>
          <p>
            Tim Berners-Lee nació en el sudoeste de Londres, Reino Unido, el 8
            de junio de 1955. Sus padres eran Conway Berners-Lee y Mary Lee
            Woods. Sus padres eran matemáticos británicos y formaron parte del
            equipo que construyó el Manchester Mark I. Por ello, la orientación
            profesional le venía de familia, ya que sus padres se habían
            conocido en el proyecto de desarrollo del Ferranti Mark I, el primer
            ordenador comercial con programa almacenado desarrollado por la
            empresa Ferranti en marzo de 1951. Su padre, Conway Berners-Lee, y
            su madre, Mary Lee Woods, también fueron especialistas en
            computación; trabajaron con el equipo que construyó el Ferranti Mark
            l.
          </p>
          <p>
            Comenzó en la escuela primaria Sheen Mont y luego pasó al Emanuel
            School, ambas en Londres, de 1969 a 1973. Estudió en Queen's
            College, de la Universidad de Oxford, de 1973 a 1976, donde recibió
            un título de primera clase de Física.​ Conoció a su primera esposa
            en este tiempo. En 1978, trabajó en D.G. Nash Limited (también en
            Poole) donde escribió un sistema operativo.
          </p>
        </div>
        <div>
          <h2>Desarrollo de su carrera</h2>
          <p>
            Berners-Lee trabajó en el CERN desde junio hasta diciembre de 1980​.
            Durante ese tiempo, propuso un proyecto basado en el hipertexto para
            facilitar la forma de compartir y la puesta al día de la información
            entre investigadores. En este periodo también construyó un programa
            llamado ENQUIRE que no llegó a ver la luz.
          </p>
          <p>
            Después de dejar el CERN, en 1980, se fue a trabajar a la empresa de
            John Poole Image Computer Systems Ltd., pero regresó al CERN otra
            vez en 1984.
          </p>
          <p>
            En 1989, el CERN era el nodo de Internet más grande de Europa y
            Berners-Lee vio la oportunidad de unir Internet y el hipertexto
            (HTTP y HTML), de lo que surgiría la World Wide Web. Desarrolló su
            primera propuesta de la Web el 12 de marzo de 1989,​ pero no tuvo
            mucho eco, por lo que en 1990 y con la ayuda de Robert Cailliau,
            hicieron una revisión que fue aceptada por su gerente, Mike Sendall.
            Usó ideas similares a las que había usado en el sistema Enquire,
            para crear la World Wide Web, para esto diseñó y construyó el primer
            navegador (llamado WorldWideWeb y desarrollado con NEXTSTEP) y el
            primer servidor Web al que llamó httpd (HyperText Transfer Protocol
            daemon).
          </p>
          <p>
            El primer servidor Web se encontraba en el CERN y fue puesto en
            línea el 6 de agosto de 1991. Esto proporcionó una explicación sobre
            lo que era el World Wide Web, cómo uno podría tener un navegador y
            cómo establecer un servidor Web. Este fue también el primer
            directorio Web del mundo, ya que Berners-Lee mantuvo una lista de
            otros sitios Web aparte del suyo. Debido a que tanto el software del
            servidor como del cliente fue liberado de forma gratuita desde el
            CERN, el corazón de Internet Europeo en esa época, su difusión fue
            muy rápida. El número de servidores Web pasó de veintiséis en 1992 a
            doscientos en octubre de 1995 lo que refleja cual fue la velocidad
            de la difusión de internet.
          </p>
          <p>
            En 1994 entró en el Laboratorio de Ciencias de la Computación e
            Inteligencia Artificial del Massachusetts Institute of Technology.
            Se trasladó a EE. UU. y puso en marcha el W3C, que dirige
            actualmente. El W3C es un organismo internacional de estandarización
            de tecnologías Web dirigido conjuntamente por el Instituto
            Tecnológico de Massachusetts, el ERCIM francés y la Universidad de
            Keiō en Japón. Este organismo decidió que todos sus estándares
            fuesen libres, es decir, que los pudiese utilizar todo el mundo
            libremente sin coste alguno, lo que sin lugar a dudas fue una de las
            grandes razones para que la Web haya llegado a tener la importancia
            que tiene hoy en día.
          </p>
          <p>
            En su libro Tejiendo la red, publicado en 1999, Berners-Lee explica
            por qué la tecnología web es libre y gratis. Se considera al mismo
            tiempo el inventor y el protector de la web
          </p>
          <p>
            Berners-Lee fue uno de las pioneros en favor de la neutralidad de
            red.​
          </p>
        </div>
        <div>
          <h2>Proyectos actuales</h2>
          <p>
            im Berners-Lee fue crítico con las expectativas generadas alrededor
            de la Web 2.0 cuando se argumentó sobre esta plataforma que «si la
            web 1.0 conectaba ordenadores, la web 2.0 conecta personas». Tim
            opina que no se trata de una nueva generación de web sino una forma
            diferente y, eso si, mucho más capaz de desplegar aplicaciones sobre
            la misma plataforma de la web inventado por él. En este sentido,
            herramientas como las wikipedias o los blogs son unas herramientas
            que fomentan y potencian la participación y colaboración, pero, de
            hecho, no hay ningún componente tecnológico base que no existiera
            desde bastantes años antes.
          </p>
          <p>
            Berners-Lee desarrolló el concepto de intercreatividad considerado
            un aspecto vital del futuro de la web y que definía como:
          </p>
          <p>
            "El proceso de hacer cosas o resolver problemas juntos. […] tenemos
            que ser capaces no solo de encontrar cualquier tipo de documento en
            la web, sino también de crear cualquier tipo de documento,
            fácilmente […] Tendríamos que ser capaces no solo de interaccionar
            con otras personas, sino crear con otras personas."
            <br />[Berners-Lee 1999]
          </p>
          <p>
            Desde 1998, Tim Berners-Lee trabaja en el proyecto de la web
            semántica,​ que tiene como objetivo crear un medio universal para el
            intercambio de información significativa (semántica), de una forma
            comprensible para las máquinas, del contenido de los documentos de
            la Web. Con esto se pretende ampliar la interoperabilidad de los
            sistemas informáticos y reducir la mediación de los operadores
            humanos en los procesos inteligentes de flujo de información. La
            misma concepción de la web como medio universal de presentación
            tenía la orientación de que fuera interpretable por los humanos y,
            por lo tanto, tiene una orientación visual. Este aspecto resta
            capacidad para el intercambio de información entre máquinas
            reduciendo las posibilidades de acceso a la información de forma
            sistemática e industrializada.
          </p>
          <p>
            Berners-Lee es el presidente del Open Data Institute,​ que cofundó
            con Nigel Shadbolt in 2012.
          </p>
        </div>
        <div>
            <h2>Controversia sobre nombres de dominio</h2>
            <p>
                En el pasado, Berners-Lee se opuso a la creación de nombres de dominio nuevos como el '.mobi'. De hecho, cuando el '.mobi ' nació, él era uno de sus detractores.​ Él argumentó que todo el mundo debería acceder a las mismas web, independientemente de si usase un ordenador o un móvil. Básicamente lo que no le gustaba a Berners-Lee del '.mobi' es que este sería para que se accediese únicamente con los móviles, ya que él desarrolló la web como una forma de comunicación universal y no veía necesario el desarrollo del '.mobi' únicamente para el uso en móviles.
            </p>
            <p>
                También hubo una pelea entre diferentes gobiernos y el ICANN sobre la propiedad de los nombres de los dominios, sobre todo con el ".com". Berners-Lee apoya que nadie tenga los nombres de los dominios, sino que estos sean un recurso público. Berners-Lee también dejó claro que el nombre o la propiedad de los dominios no era el aspecto más importante en el proceso de estandarización, sino que eran más importantes los estándares de vídeo, codificación, estándares abiertos de comunicación de datos, subida de datos científicos y clínicos o la propagación de información entre países.
            </p>
        </div>
        <div>
            <h2>Reconocimientos</h2>
            <ul>
                <li>
                    Una sala de conferencias en el campus central del AOL lleva su nombre.
                </li>
                <li>
                    La Universidad de Southampton fue la primera en reconocer su contribución para desarrollar la World Wide Web con un grado honoris causa en 1996. También es un distinguido miembro de la British Computer Society, miembro honorífico del Instituto de Ingenieros Eléctricos de Estados Unidos y de la Academia Estadounidense de las Artes y las Ciencias.
                </li>
                <li>
                    En 1997 fue hecho oficial de la Orden del Imperio Británico, es miembro de la Royal Society desde 2001 y recibió un premio japonés en 2002.
                </li>
                <li>
                    En ese mismo año (2002) también recibió el Premio Príncipe de Asturias (compartió este premio con Lawrence Roberts, Robert Kahn y Vinton Cerf) en la categoría de investigación científica y técnica.
                </li>
                <li>
                    También en 2002, el público británico consideró que se encontraba entre los 100 británicos más importantes de todos los tiempos en una encuesta realizada por la BBC y además obtuvo el premio del festival de la tecnología en Telluride, Colorado.
                </li>
                <li>
                    En mayo de 2006 fue nombrado miembro honorífico de la Royal Society of Arts.
                </li>
                <li>
                    El 15 de abril de 2004 se convirtió en el primer ganador del Premio de Tecnología del Milenio por la World Wide Web.
                </li>
                <li>
                    Recibió el rango de Knight Commander (el segundo más alto en la Orden del Imperio Británico) de la reina Isabel II el 16 de julio de 2004.
                </li>
                <li>
                    El 21 de julio de 2004 recibió el grado honoris causa de Doctor de Ciencia de la Universidad de Lancaster.
                </li>
                <li>
                    El 27 de enero de 2005 fue nombrado mejor británico del año 2004 por sus logros y su demostración de las cualidades clave británicas «humildad, determinación, y un agudo sentido del humor y de adaptabilidad» según dijo David Hempleman-Adams, miembro del jurado. 
                </li>
                <li>
                    El 8 de enero de 2007 fue anunciado como ganador del premio Charles Stark Draper de 2007.
                </li>
                <li>
                    El 14 de enero de 2007 fue investido en la National Academy of Engineering.
                </li>
                <li>
                    El 13 de junio de 2007 fue galardonado con la Orden del Mérito.
                </li>
                <li>
                    El 20 de mayo de 2008 recibió el premio Wolfson James Clerk Maxwell Award de la IEEE/RSE por concebir y ayudar a desarrollar la World Wide Web.
                </li>
                <li>
                    El 10 de octubre de 2008 recibió el grado de doctor honoris causa por la Universidad Abierta de Cataluña.
                </li>
                <li>
                    El 21 de abril de 2009 recibió el grado de doctor honoris causa por la Universidad Politécnica de Madrid (UPM)
                </li>
                <li>
                    En 2012 fue hecho miembro del Salón de la Fama de Internet por la Internet Society.
                </li>
                <li>
                    El 27 de julio de 2012 participó en la ceremonia de apertura de los Juegos Olímpicos de Londres 2012.
                </li>
                <li>
                    El 18 de marzo de 2013 recibió el Queen Elizabeth Prize for Engineering en conjunto con otros cuatro ingenieros por su «innovación de vanguardia en ingeniería que ha sido de beneficio global para la humanidad».
                </li>
                <li>
                    El 4 de abril de 2017 recibió el premio Turing 2016.
                </li>
            </ul>
        </div>
      </article>
    </section>
    <section>
        <a href="#"
          ><img
            src="/img/boton-flecha-removebg-preview.png"
            class="button"
            alt=""
        /></a>
      </section>
      <footer>
        <p>&#169;Copyright 2021</p>
      </footer>
  </body>
</html>
