<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joan Clarke</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Lobster+Two&family=Staatliches&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/"><img class="home" src="/img/home.png" alt="" /></a>
        <h1>Joan Clarke</h1>
    </header>
    <section>
        <article>
 
         <img src="/img/joan-clarke.jpg" alt="Fotografía de Joan Clarke">
         <div>
           <h2>Joan Elisabeth Lowther Murray</h2>  
           <p>
             Nacida como Joan Elisabeth Lowther Clarke (Londres, 24 de junio de 1917 – Oxford, 4 de septiembre de 1996) fue una criptoanalista y numismática británica que trabajó en Bletchley Park durante la Segunda Guerra Mundial.  
           </p>
           <p>
             Fue la única mujer que trabajó en el equipo del matemático Alan Turing en el proyecto Enigma, que desencriptó las comunicaciones secretas de la Alemania nazi. Su papel en este proceso le valió premios y citaciones, como el nombramiento como miembro de la Orden del Imperio Británico (MBE), en 1946.
           </p>
         </div>
        </article>
        <article>
            <div>
                <h2>Primeros años</h2>
                <p>
                    Fue la más pequeña de los hijos de Dorothy Elisabeth Clarke y el clérigo William Kemp Lowther Clarke. Tuvo tres hermanos y una hermana.2​ Estudió en la escuela secundaria para niñas Dulwich High School en el sur de Londres. En 1936, ganó una beca para estudiar en el Newnham College, Cambridge, donde obtuvo una doble titulación en matemáticas.3​4​ Se le negó un título completo, ya que Cambridge sólo se lo otorgó a los hombres hasta 1948 
                </p>
                <p>
                    Las habilidades matemáticas de Clarke fueron descubiertas por primera vez por Gordon Welchman, en una clase de Geometría en Cambridge. Welchman fue uno de los cuatro mejores matemáticos reclutados en 1939 para supervisar las operaciones de decodificación en Bletchley Park. Después de darse cuenta de las habilidades matemáticas de Clarke, la reclutó para que se uniera a él en Bletchley Park y formara parte de la Government Code and Cypher School (GC&CS).  
                </p>
                <p>
                    La GC&CS comenzó en 1939 con un único propósito, romper el Código Enigma alemán. Enigma era una máquina que los alemanes inventaron para encriptar sus mensajes; creían firmemente que su máquina era irrompible. Clarke llegó por primera vez a Bletchley Park el 17 de junio de 1940. En primer lugar, fue colocada en un grupo sólo de mujeres llamado "Las niñas", que se dedicaba principalmente al trabajo rutinario de oficina. En ese momento, la criptología no era un trabajo para mujeres. Según Clarke, ella sólo conocía a otra criptóloga que trabajaba en Bletchley Park.   
                </p>
            </div>
            <div>
                <h2>Trayectoria</h2>
                <h3>
                    Descifrando códigos en Bletchley Park
                </h3>
                <p>
                    En junio de 1940, Clarke fue reclutada por su antiguo supervisor académico, Gordon Welchman, para la GC&CS.5​ Trabajó en Bletchley Park en la sección conocida como Hut 8 y rápidamente se convirtió en la única mujer practicante de 'banburismus', un proceso criptoanalítico desarrollado por Alan Turing que redujo la necesidad de bombes (dispositivos electromecánicos como los utilizados por los criptólogos británicos Welchman y Turing para descifrar mensajes encriptados alemanes durante la Segunda Guerra Mundial). Aunque Clarke tenía el mismo puesto que sus compañeros de trabajo varones, le pagaban menos por su género. La primera promoción de trabajo de Clarke fue al grado de lingüista, que fue diseñado para ganar dinero extra a pesar del hecho de que no hablaba otro idioma. Esta promoción fue un reconocimiento a su carga de trabajo y a sus contribuciones al equipo. 
                </p>
                <p>
                    En 1941, se capturaron embarcaciones junto a sus equipos de cifrado y códigos. Antes de que se obtuviera esta información, las rudeltaktik habían hundido 282.000 toneladas de barcos al mes de marzo a junio de 1941. En noviembre, Clarke y su equipo lograron reducir este número a 62.000 toneladas.​ Hugh Alexander, jefe del Hut 8 de 1943 a 1944, la describió como "una de las mejores banburistas de la sección".​ El propio Alexander era considerado como el mejor de los banburistas. Él y I.J. Good consideraron el proceso más como un juego intelectual que como un trabajo. No fue "lo suficientemente fácil como para ser trivial, pero no lo suficientemente difícil como para causar un colapso nervioso". Clarke se convirtió en subdirectora del Hut 8 en 1944, aunque se le impidió progresar debido a su género, y se le pagaba menos que a los hombres. 
                </p>
                <h3>
                    Interés numismático
                </h3>
                <p>
                    Después de conocer a su marido, que había publicado trabajos sobre la moneda escocesa de los siglos XVI y XVII, Clarke se interesó por la historia numismática. Estableció la secuencia de la compleja serie de monedas de 'unicornio de oro' y de 'trigo pesado' que circulaban en Escocia durante los reinados de Jacobo III y Jacobo IV. En 1986, su investigación fue reconocida por la British Numismatic Society cuando le fue otorgada la Medalla de Oro Sanford Saltus. El número 405 de la Circular Numismática describe su trabajo sobre el tema como "magistral".
                </p>
            </div>
            <div>
                <h2>Vida personal</h2>
                <p>
                    Según Kerry Howard, investigadora de la historia de las mujeres en la Segunda Guerra Mundial, Clarke era una persona muy reservada y se sabe poco sobre sus intereses personales o su pasado. Se sabe que tuvo una serie de pasatiempos que se convirtieron en pasiones, como el trabajo botánico, el ajedrez, el tejido de punto y las monedas.
                </p>
                <p>
                    En 1941, Clarke desarrolló una estrecha amistad con su colega del Hut 8, Alan Turing. Se hicieron muy buenos amigos en Bletchley Park. Turing arregló sus turnos para que pudieran trabajar juntos, y también pasaron gran parte de su tiempo libre juntos. A principios del año, Turing le propuso matrimonio a Clarke, y posteriormente la presentó a su familia. Aunque le admitió en privado su homosexualidad, Turing decidió que no podía seguir adelante con el matrimonio y rompió con ella a mediados de 1941. Clarke admitió más tarde que sospechaba de la homosexualidad de Turing durante algún tiempo, y no fue una gran sorpresa cuando él lo reconoció. Ambos habían sido buenos amigos desde poco después de conocerse, y continuaron siéndolo hasta la muerte de Turing en 1954. Compartían muchos hobbies y tenían personalidades similares.
                </p>
            </div>
            <div>
                <h2>Reconocimientos</h2>
                <p>
                    En 1946, Clarke fue nombrada miembro de la Orden del Imperio Británico (MBE) por su habilidad para descifrar códigos durante la guerra.23​ Aunque debido a las restricciones, su trabajo tuvo que seguir siendo confidencial durante muchos años más. En 1971, después del levantamiento de las restricciones de la Ley de Secretos Oficiales, los detalles del trabajo brillante de los descifradores de códigos se volvieron ampliamente conocidos, por lo que el impacto de sus esfuerzos comenzó a surgir.   
                </p>
                <p>
                    En 1987, la British Numismatic Society premió a Clarke con la Sanford Saltus God Medal por sus trabajos sobre monedas escocesas del siglo XVI y XVII.
                </p>
            </div>
            <div>
                <h2>En la ficción</h2>
                <p>
                    Clarke fue interpretada por la actriz británica Keira Knightley en la película The Imitation Game (2014), frente a Benedict Cumberbatch como Alan Turing.  La sobrina sobreviviente de Turing, Inagh Payne, describió a Clarke como "bastante simple" y pensó que Knightley fue elegida inapropiadamente como Clarke.   El biógrafo Andrew Hodges también criticó la película, afirmando que el guion "construyó una relación con Joan mucho mayor de lo que realmente era".
                </p>
                 <p>
                        Por el contrario, un artículo del periodista de la BBC Joe Miller afirmaba que la "historia de Clarke ha sido inmortalizada". En cuanto a la película en sí, el director Morten Tyldum ha argumentado que muestra cómo Clarke tuvo éxito en su campo a pesar de trabajar en una época "en la que la inteligencia no era realmente apreciada en las mujeres".
                 </p>
                 <p>
                        Knightley fue nominada para el Óscar a la mejor actriz de reparto en la 87ª edición de los Premios de la Academia por su actuación como Clarke.
                 </p>
            </div>
        </article>
    </section>
    <section>
        <a href="#"
          ><img
            src="/img/boton-flecha-removebg-preview.png"
            class="button"
            alt=""
        /></a>
      </section>
      <footer>
        <p>&#169;Copyright 2021</p>
      </footer>
</body>
</html>