<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Lobster+Two&family=Staatliches&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Heroínas y Héroes Tecnológicos más representativos del ámbito de la programación</h1>
    </header>
    <section>
        <article>
            <img src="/img/CharlesBabbage.jpg" alt="imagen">
            <div>
                <h3> Charles Babbage </h3>
            <p>Fue un matemático y científico de la computación británico. Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, pero nunca construyó, la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como "El Padre de la computación".</p>
            <a href="babbage">Leer más</a>
            </div>
            
        </article>
        <article>
            <img src="/img/Tim_Berners-Lee.jpg" alt="Fotografía de Tim Berners-Lee">
            <div>
                <h3> Tim Berners-Lee </h3>
            <p>es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990.</p>
            <a href="berners-lee">Leer más</a>
            </div>
            
        </article>
        <article>
            <img src="/img/joan-clarke.jpg" alt="Fotografía de Joan Clarke">
            <div>
                <h3> Joan Clarke </h3>
            <p>Fue la única mujer que trabajó en el equipo del matemático Alan Turing en el proyecto Enigma, que desencriptó las comunicaciones secretas de la Alemania nazi. Su papel en este proceso le valió premios y citaciones, como el nombramiento como miembro de la Orden del Imperio Británico (MBE), en 1946.</p>
            <a href="clarke">Leer más</a> 
            </div>
           
        </article>
        <article>
            <img src="/img/Margaret_Hamilton_1995.jpg" alt="Fotografía de Margaret Hamilton">
            <div>
                <h3> Margaret Hamilton </h3>
            <p>Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT, donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo. En 1986, se convirtió en la fundadora y CEO de Hamilton Technologies, Inc. en Cambridge, Massachusetts.</p>
            <a href="hamilton">Leer más</a>
            </div>
            
        </article>
        <article>
            <img src="/img/Grace_M._Hopper.jpg" alt="">
            <div>
               <h3> Grace Murray Hopper </h3>
            <p>Fue una científica de la computación y militar estadounidense con grado de contraalmirante. Fue pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I. Entre las décadas de los 50 y 60 desarrolló el primer compilador para un lenguaje de programación así como también propició métodos de validación. </p>
            <a href="hopper">Leer más</a> 
            </div>
            
        </article>
        <article>
            <img src="/img/Ada_Lovelace.jpg" alt="">
            <div>
               <h3> Ada Lovelace </h3>
            <p>Fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica. Entre sus notas sobre la máquina, se encuentra lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores.​</p>
            <a href="lovelace">Leer más</a> 
            </div>
            
        </article>
        <article>
            <img src="/img/Alan_Turing.webp" alt="">
            <div>
               <h3> Alan Turing </h3>
            <p>Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna. Proporcionó una influyente formalización de los conceptos de algoritmo y computación: la máquina de Turing. Formuló su propia versión que hoy es ampliamente aceptada como la tesis de Church-Turing (1936).</p>
            <a href="turing">Leer más</a> 
            </div>
            
        </article>
        
    </section>
    <section>
        <a  href="#"><img src="/img/boton-flecha-removebg-preview.png" class="button" alt=""></a>
    </section>
    <footer>
        <p>&#169;Copyright 2021
        </p>
    </footer>
</body>
</html>