<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alan Turing</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Lobster+Two&family=Staatliches&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="/" ><img class="home" src="/img/home.png" alt="" /></a>
      <h1>Alan Turing</h1>
    </header>
    <section>
      <article>
        <img class="a" src="/img/Alan_Turing.webp" alt="" />
        <div>
          <h2>Alan Mathison Turing</h2>
          <p>
            (Paddington, Londres; 23 de junio de 1912-Wilmslow, Cheshire; 7 de
            junio de 1954), fue un matemático, lógico, informático teórico,
            criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de
            ultradistancia británico.
          </p>
          <p>
            Es considerado uno de los padres de la ciencia de la computación y
            precursor de la informática moderna. Proporcionó una influyente
            formalización de los conceptos de algoritmo y computación: la
            máquina de Turing. Formuló su propia versión que hoy es ampliamente
            aceptada como la tesis de Church-Turing (1936).
          </p>
          <p>
            Durante la segunda guerra mundial, trabajó en descifrar los códigos
            nazis, particularmente los de la máquina Enigma, y durante un tiempo
            fue el director de la sección Naval Enigma de Bletchley Park. Se ha
            estimado que su trabajo acortó la duración de esa guerra entre dos y
            cuatro años. Tras la guerra, diseñó uno de los primeros computadores
            electrónicos programables digitales en el Laboratorio Nacional de
            Física del Reino Unido y poco tiempo después construyó otra de las
            primeras máquinas en la Universidad de Mánchester.
          </p>
          <p>
            En el campo de la inteligencia artificial, es conocido sobre todo
            por la concepción de la prueba de Turing (1950), un criterio según
            el cual puede juzgarse la inteligencia de una máquina si sus
            respuestas en la prueba son indistinguibles de las de un ser humano.
          </p>
          <p>
            La carrera de Turing terminó súbitamente tras ser procesado por
            homosexualidad en 1952. Dos años después de su condena, murió —según
            la versión oficial por suicidio; sin embargo, su muerte ha dado
            lugar a otras hipótesis, incluida la del envenenamiento accidental
            —. El 24 de diciembre de 2013, la reina Isabel II del Reino Unido
            promulgó el edicto por el que se exoneró oficialmente al matemático,
            quedando anulados todos los cargos en su contra.
          </p>
        </div>
      </article>
      <article>
        <div>
          <h3>La Universidad y sus estudios sobre computabilidad</h3>
          <p>
            Debido a su falta de voluntad para esforzarse con la misma
            intensidad en el estudio de los clásicos que en el de la ciencia y
            la matemática, Turing suspendió sus exámenes finales varias veces y
            tuvo que ingresar en la escuela universitaria que eligió en segundo
            lugar, King's College, Universidad de Cambridge, en vez de en la que
            era su primera elección, Trinity. Tras su graduación, se trasladó a
            la Universidad estadounidense de Princeton, donde trabajó con el
            lógico A. Church. Recibió las enseñanzas de Godfrey Harold Hardy, un
            respetado matemático que ocupó la cátedra Sadleirian en Cambridge, y
            que posteriormente, fue responsable de un centro de estudios e
            investigaciones matemáticas entre 1931 y 1934. En 1935 Turing fue
            nombrado profesor del King's College.
          </p>
        </div>
      </article>
      <article>
        <div>
          <h2>Solución al problema de decisión</h2>
          <p>
            El Entscheidungsproblem, que se traduce como «problema de decisión»,
            fue un reto en lógica simbólica para encontrar un algoritmo general
            que decidiera si una fórmula de cálculo de primer orden es un
            teorema. El problema fue planteado inicialmente por Leibniz en el
            siglo XVII luego de construir su máquina mecánica de cálculo. David
            Hilbert formalizó el problema en el VII Congreso Internacional de
            Matemáticas (Bolonia, 1928), planteando la búsqueda de un
            procedimiento algorítimico válido para solucionar las posibles
            cuestiones matemáticas, a través de tres preguntas:
          </p>
          <ul>
            <li>¿Son las matemáticas completas?</li>
            <li>¿Son las matemáticas consistentes?</li>
            <li>¿Son las matemáticas decidibles?</li>
          </ul>
          <p>
            Si bien Hilbert suponía que la respuesta a las preguntas era
            afirmativa, Kurt Gödel, meditante los teoremas de Incompletitud
            demostró que las dos primeras preguntas no podrían serlo ya que, tal
            como afirma Gödel:
          </p>
          <p>
            «En cualquier formalización consistente de las matemáticas que sea
            lo bastante fuerte para definir el concepto de los números
            naturales, se puede construir una afirmación que ni se puede
            demostrar ni se puede refutar dentro de ese sistema», mientras que
            el primero afirma: «Ningún sistema consistente se puede usar para
            demostrarse a sí mismo».
          </p>
          <p>
            Sin embargo, no podían resolver la última pregunta. La dificultad
            estaba en la ausencia de significado de lo que se entiende por un
            «procedimiento mecánico». En 1936, Alan Turing en su trabajo Acerca
            de los números computables, introduce el concepto de la máquina de
            Turing y, junto a Alonzo Church demostraron ambos que es imposible
            escribir tal algoritmo. Como consecuencia, es también imposible
            decidir con un algoritmo general si ciertas frases concretas de la
            aritmética son ciertas o falsas.
          </p>
        </div>
      </article>
      <article>
        <div>
          <h2>Tesis Church-Turing</h2>
          <p>
            La tesis de Church-Turing formula hipotéticamente la equivalencia
            entre los conceptos de función computable y máquina de Turing, que
            expresado en lenguaje corriente vendría a ser: «Todo algoritmo es
            equivalente a una máquina de Turing». No es en sí un teorema
            matemático: es una afirmación formalmente indemostrable, una
            hipótesis que, no obstante, tiene una aceptación prácticamente
            universal.
          </p>
          <p>
            La tesis Church-Turing postula que cualquier modelo computacional
            existente tiene las mismas capacidades algorítmicas, o un
            subconjunto, de las que tiene una máquina de Turing.
          </p>
        </div>
        <div>
          <h3>La máquina de Turing</h3>
          <p>
            En su estudio Los números computables, con una aplicación al
            Entscheidungsproblem (publicado el 28 de mayo de 1936), Turing
            reformuló los resultados obtenidos por Kurt Gödel en 1931 sobre los
            límites de la demostrabilidad y la computación, sustituyendo al
            lenguaje formal universal descrito por Gödel por lo que hoy se
            conoce como máquina de Turing, unos dispositivos formales y simples.
          </p>
          <p>
            Turing demostró que dicha máquina era capaz de resolver cualquier
            problema matemático que pudiera representarse mediante un algoritmo.
            Las máquinas de Turing siguen siendo el objeto central de estudio en
            la teoría de la computación. Llegó a probar que no había ninguna
            solución para el problema de decisión, Entscheidungsproblem,
            demostrando primero que el problema de la parada para las máquinas
            de Turing es irresoluble: no es posible decidir algorítmicamente si
            una máquina de Turing dada llegará a pararse o no. Aunque su
            demostración se publicó después de la demostración equivalente de
            Alonzo Church respecto a su cálculo lambda, el estudio de Turing es
            mucho más accesible e intuitivo. ambién fue pionero con su concepto
            de «máquina universal (de Turing)», con la tesis de que dicha
            máquina podría realizar las mismas tareas que cualquier otro tipo de
            máquina. Su estudio también introduce el concepto de números
            definibles.
          </p>
        </div>
        <div>
          <h2>Máquinas oracle</h2>
          <p>
            La mayor parte de 1937 y 1938 la pasó en la Universidad de
            Princeton, estudiando bajo la dirección de Alonzo Church. Entre 1938
            y 1939 volvió a Inglaterra y estudió filosofía de las matemáticas.
            En 1938 obtuvo el Doctorado en Princeton; en su discurso introdujo
            el concepto de hipercomputación, en el que ampliaba las máquinas de
            Turing con las llamadas máquinas oracle, las cuales permitían el
            estudio de los problemas para los que no existe una solución
            algorítmica.
          </p>
          <p>
            Tras su regreso a Cambridge en 1939, asistió a las conferencias de
            Ludwig Wittgenstein sobre las bases de las matemáticas. Ambos
            discutieron y mantuvieron un vehemente desencuentro, ya que Turing
            defendía el formalismo matemático y Wittgenstein criticaba que la
            matemática estaba sobrevalorada y no descubría ninguna verdad
            absoluta.
          </p>
        </div>
        <div>
          <h2>Análisis criptográfico (desciframiento de códigos)</h2>
          <p>
            Un día después de la declaración de guerra de Gran Bretaña, en
            septiembre de 1939, Turing fue convocado a Bletchley Park, donde se
            encontraba el Servicio Británico de Descifrado. Las nueve mil
            personas que trabajaban allí, se dedicaron a intentar interpretar
            las comunicaciones alemanas cifradas en código morse.
          </p>
          <p>
            El cifrado lo hacían a través de una máquina de sistema rotatorio
            llamada Enigma (máquina). Enigma había sido inventada en 1918 por
            Arthur Scherbius. Era similar a una máquina de escribir, en la cual
            cada vez que una letra era pulsada, era sustituida por otra mediante
            el uso de tres rotores internos (las máquinas militares llegaron a
            usar cinco), cuyo resultado era más de diez mil billones de
            configuraciones distintas. Debido al carácter portátil de la
            máquina, los operadores podían estar ubicados en los puestos de
            mando, interior de los tanques, submarinos, en bombardeos, etc.
            Independientemente de su locación, los operadores, llevaban las
            instrucciones de cómo debían colocarse los rotores, y las posiciones
            cambiaban cada pocos días.
          </p>
          <p>
            El equipo liderado por Turing, a través de ecuaciones y cálculos,
            encontraron pautas en los mensajes con lo que pudieron detectar una
            pequeña parte de su funcionamiento. Sin embargo, todavía no podían
            descifrarlos. Fue entonces, cuando Turing se preguntó:
          </p>
          <p>
            "¿Y si para luchar contra una máquina como Enigma hiciese falta otra
            máquina?"
          </p>
          <p>
            A raíz de esta pregunta, Turing pudo poner en práctica sus teorías:
            diseñó la máquina Bombe. Bombe buscaba la configuración de los
            rotores de la máquina alemana, implementando una cadena de
            deducciones lógicas para cada combinación posible. Gracias a las
            mejoras del matemático, Gordon Welchman, el 14 de marzo de 1940, el
            primer prototipo estaba terminado. Al cabo de un tiempo disponían
            con más de doscientas Bombes.
          </p>
          <p>
            Los trabajos del Servicio Británico Descifrado, dirigidos por
            Turing, fueron determinantes para acortar la guerra. Algunos
            historiadores afirman que su trabajo acortó dos años la duración de
            la guerra, salvando alrededor de catorce millones de vidas.​ Al
            finalizar la guerra, las máquinas Bombe se desmantelaron y todo el
            trabajo permaneció en secreto hasta los setenta. En 1974 el capitán
            W. F. Winterbotham escribió el libro The Ultra Secret.
          </p>
        </div>
        <div>
          <h2>Estudios sobre las primeras computadoras</h2>
          <p>
            De 1945 a 1948 Turing vivió en Richmond, Londres, donde trabajó en
            el Laboratorio Nacional de Física (NPL). En 1947 empezó a trabajar
            en el diseño del ACE (Automatic Computer Engine o Motor de
            Computación Automática). Paralelamente, existía un proyecto similar
            en Estados Unidos llamado EDVAC de Von Neumann. El ACE de Turing se
            diferenciaba en que incluía la implementación de funciones
            aritméticas en circuitos electrónicos. Su deseo era crear una
            máquina que pudiera ser configurada para hacer cálculos algebraicos,
            desencriptar códigos, manipular archivos y jugar al ajedrez. Aunque
            diseñar el ACE era factible, el secretismo que reinaba durante la
            guerra desembocó en retrasos para iniciar el proyecto por lo que
            Turing se sintió desilusionado.
          </p>
          <p>
            Tiempo más tarde creó el Abbreviated Code Instruction, que dio
            origen a los lenguajes de programación. En 1947 se tomó un año
            sabático en Cambridge, tiempo durante el cual escribió un trabajo
            pionero sobre la inteligencia artificial que no fue publicado en
            vida. En 1948, con la ayuda de Frederic Calland Williams, se dio,
            por primera vez, la demostración del principio de la máquina de
            Turing.
          </p>
          <p>
            Mientras se encontraba en Cambridge y a pesar de su ausencia, se
            siguió construyendo el prototipo piloto del ACE, que ejecutó su
            primer programa en mayo de 1950. Aunque la versión completa del ACE
            de Turing jamás fue construida, el diseño de otras computadoras en
            todo el mundo le debió mucho a su concepción.
          </p>
          <p>
            A mediados de 1948 fue nombrado director delegado del laboratorio de
            computación de la Universidad de Mánchester y trabajó en el software
            de una de las primeras computadoras reales, la Manchester Mark I.
            Durante esta etapa también realizó estudios más abstractos y en su
            artículo de octubre de 1950 «Computing machinery and intelligence»
            Turing trató el problema de la inteligencia artificial y propuso un
            experimento que hoy se conoce como test de Turing, con la intención
            de definir una prueba estándar por la que una máquina podría
            catalogarse como «sensible» o «sintiente». En el documento, Turing
            sugirió que en lugar de construir un programa para simular la mente
            adulta, sería mejor producir uno más simple para simular la mente de
            un niño y luego someterlo a educación. Una forma invertida de la
            prueba de Turing se usa ampliamente en Internet, el test CAPTCHA que
            está diseñado para determinar si un usuario es un humano y no una
            computadora.
          </p>
        </div>
        <div>
          <h2>Prueba de Turing</h2>
          <p>
            La prueba de Turing es un método para determinar si una máquina
            puede pensar.
          </p>
          <p>
            Nace de un juego de imitación, en donde hay tres personas: un
            interrogador, un hombre y una mujer. El interrogador está separado
            de los otros dos, y solo puede comunicarse con ellos a través de un
            lenguaje que entiendan. El objetivo del interrogador es descubrir
            quién es la mujer, y quién es el hombre, mientras que el de los
            otros dos, es convencerlo que son la mujer. En su artículo de 1950,
            «Computing machinery and intelligence», Turing sustituye a uno de
            los interrogados por una computadora y cambia los objetivos del
            juego: reconocer a la máquina.
          </p>
          <p>
            «Una computadora puede ser llamada inteligente si logra engañar a
            una persona haciéndole creer que es un humano» - Alan Turing.
          </p>
          <p>
            La forma de hacer pasar la prueba a una máquina consiste básicamente
            en una persona hablando con una computadora en otra habitación
            mediante un sistema de chat. Si la persona es incapaz de determinar
            si habla con un humano o con una computadora, entonces la
            computadora se considera inteligente.
          </p>
          <p>
            En el año 2014, por primera vez, el chatbot de Eugene Gootsman,
            logró convencer a treinta jueces que estaban participando en la
            prueba de que estaban chateando con un niño ucraniano de trece años.
          </p>
        </div>
        <div>
          <h2>Primer programa de ajedrez por computadora</h2>
          <p>
            Entre 1948 y 1950 en conjunto con un antiguo compañero, D. G.
            Champernowne, empezó a escribir un programa de ajedrez para un
            ordenador que aún no existía. En 1952 trató de implementarlo en el
            Ferranti Mark 1, pero por falta de potencia, el ordenador no fue
            capaz de ejecutar el programa. En su lugar Turing jugó una partida
            en la que reprodujo manualmente los cálculos que hubiera hecho el
            ordenador, costando alrededor de hora y media en efectuar un
            movimiento. Una de las partidas llegó a registrarse, y el programa
            perdió frente a un colega de Turing, Alick Glennie. Su test fue
            significativo, característicamente provocativo y una gran
            contribución para empezar el debate alrededor de la inteligencia
            artificial que aún hoy continúa.
          </p>
        </div>
        <div>
          <h2>
            Estudios sobre la formación de patrones y la biología matemática
          </h2>
          <p>
            Turing trabajó desde 1952 hasta que falleció en 1954 en la biología
            matemática, concretamente en la morfogénesis. Publicó un trabajo
            sobre esta materia titulado «Fundamentos químicos de la
            morfogénesis» en 1952. Su principal interés era comprender la
            filotaxis de Fibonacci, es decir, la existencia de los números de
            Fibonacci en las estructuras vegetales. Utilizó ecuaciones de
            reacción-difusión que actualmente son cruciales para entender la
            formación de patrones en el campo de biología del desarrollo
            ontogenético (embriología). Sus trabajos posteriores no se
            publicaron hasta 1992 en el libro Obras completas de A. M. Turing.
          </p>
          <p>
            Las teorías de Turing han ido ganando la aceptación de biólogos
            experimentales, como uno de los mecanismos mediante los cuales
            células que son genéticamente idénticas pueden diferenciarse y dar
            origen a organismos complejos.
          </p>
        </div>
      </article>
    </section>
    <section>
      <a href="#"
        ><img
          src="/img/boton-flecha-removebg-preview.png"
          class="button"
          alt=""
      /></a>
    </section>
    <footer>
      <p>&#169;Copyright 2021</p>
    </footer>
  </body>
</html>
