.button {
    background-color: none;
    float: right;
    width: 5%;
    height: 5%;
    border-style: none;
    padding-right: 1em;
}

.home {
    background-color: none;
    float: left;
    width: 10vw;
    height: 8vh;
    border-style: none;
    padding-right: 1em;

}

body {
    background-color: #f2e6dd;
}


footer {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Staatliches', cursive;
    
}

h2 {
    font-family: 'Lobster Two', cursive;
    background-color: rgb(202, 162, 103);
    display: inline-block;
}

h3 {
    font-family: 'Lobster Two', cursive;
    background-color: rgb(202, 162, 103);
    display: inline-block;
}


header {
    background-color: rgb(250, 104, 59);
}

p {
    font-family: 'Abel', sans-serif;
}

article {
    border-style: ridge ; 
    border-width: thin;
    padding: 1em;
    margin: 5px;
    overflow: hidden;
    background-color: #b9a393;
    
}

.a{
    float: left;
    padding: 5px;
   
}

.b{
    float: right;
}

img {
    border-style: double;
    margin-right: 1em;
  }